out/
build/
build_nmake/
build_test/
cmake-build-debug/
cmake-build-release/
.vs/
.vscode/
*.user
*.suo
*.pdb
*.obj
*.exe
*.spv
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json
image.ppm
image.png
image_vulkan_gradient.ppm
image_vulkan_sphere.ppm
image_vulkan_spheres.ppm
image_vulkan_spheres.png
image_vulkan_diffuse.ppm
image_vulkan_diffuse.png
image_vulkan_materials.ppm
image_vulkan_materials.png
image_test.png
.DS_Store
Thumbs.db
